$font-open-sans: 'Open Sans', sans-serif;
$font-lato: 'Lato', sans-serif;
$color-white: #f1f2f6;
$color-carbon: #2f3640;
$color-red: #ff5252;
$nav-height: 4rem;

// Screen sizes:
$max-sm-screen: 720px;